# Name: Kiosk_ImageJ_Plugin
# Author: Vibha Vijayakumar
# Version: 1.0
# Date: 2020/04/05
# Requires: ImageJ

#File>Import, "DeepCell Kiosk (Import 1)...", org.vanvalenlab.KioskJobManager("import")
#File>Save As, "DeepCell Kiosk (Save As)...", org.vanvalenlab.KioskJobManager("save")
#Edit>Options, "DeepCell Kiosk...", org.vanvalenlab.KioskJobManager("options1")
#Analyze>Tools, "DeepCell Kiosk (Tools)...", org.vanvalenlab.KioskJobManager("tools")
Plugins>DeepCell Kiosk, "Submit Active Image", org.vanvalenlab.ImageJobManager
Plugins>DeepCell Kiosk, "Browse & Submit Image", org.vanvalenlab.SingleFileJobManager
#Plugins>DeepCell Kiosk, "Submit Archive", org.vanvalenlab.ZipFileManager
#Plugins>DeepCell Kiosk, "About DeepCell Kiosk...", org.vanvalenlab.KioskJobManager("about1")
#Plugins>DeepCell Kiosk, "Uninstall DeepCell Kiosk...", org.vanvalenlab.KioskJobManager("uninstall")
#Plugins, "DeepCell Kiosk (Plugins)...", org.vanvalenlab.KioskJobManager("plugins")
#Help>About Plugins, "JAR_Plugin...", org.vanvalenlab.KioskJobManager("about2")
