# Name: Kiosk_ImageJ_Plugin
# Author: Vibha Vijayakumar
# Version: 1.0
# Date: 2020/04/05
# Requires: ImageJ

File>Import, "Kiosk ImageJ Plugin (Import 1)...", actualPlugin.Kiosk_ImageJ_Plugin_("import1")
File>Import, "Kiosk ImageJ Plugin (Import 2)...", actualPlugin.Kiosk_ImageJ_Plugin_("import2")
File>Save As, "Kiosk ImageJ Plugin (Save As)...", actualPlugin.Kiosk_ImageJ_Plugin_("save")
Edit>Options, "Kiosk ImageJ Plugin...", actualPlugin.Kiosk_ImageJ_Plugin_("options1")
Analyze>Tools, "Kiosk ImageJ Plugin (Tools)...", actualPlugin.Kiosk_ImageJ_Plugin_("tools")
Plugins>Kiosk ImageJ Plugin, "Run Kiosk ImageJ Plugin...", actualPlugin.Kiosk_ImageJ_Plugin_("run")
Plugins>Kiosk ImageJ Plugin, "Kiosk ImageJ Plugin Options...", actualPlugin.Kiosk_ImageJ_Plugin_("options2")
Plugins>Kiosk ImageJ Plugin, "About Kiosk ImageJ Plugin...", actualPlugin.Kiosk_ImageJ_Plugin_("about1")
Plugins>Kiosk ImageJ Plugin, "Uninstall Kiosk ImageJ Plugin...", actualPlugin.Kiosk_ImageJ_Plugin_("uninstall")
#Plugins, "Kiosk ImageJ Plugin (Plugins)...", actualPlugin.Kiosk_ImageJ_Plugin_("plugins")
Help>About Plugins, "JAR_Plugin...", actualPlugin.Kiosk_ImageJ_Plugin_("about2")