name: Publish package to GitHub Packages

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      DISPLAY: ':99'

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Setup headless environment
        run: |
          Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      
      - name: Set the upload asset name
        id: jar_name
        run: echo "::set-output name=jar::$(mvn -B -q -Dexec.executable=echo -Dexec.args='${project.artifactId}-${project.version}' --non-recursive exec:exec 2>/dev/null)"

      - name: Upload to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./target/${{ steps.jar_name.outputs.jar }}-${{ github.event.release.tag_name }}.jar
          asset_name: ${{ steps.jar_name.outputs.jar }}-${{ github.event.release.tag_name }}.jar
